* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'vtfmono';
  src: url("../assets/VTFMono.ttf") format("truetype");
  src: url("../assets/VTFMono.woff") format("woff");
}

.vtf {
  font-family: 'vtfmono';
}

.viewport {
  width: 100vw;
  height: 100vh;
  background-color: #deb1b7;
}

.bg-letters-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bg-letters-container img {
  width: 200%;
  height: 200%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center-material {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: \min(3vh, 3vw);
}

.center-material .katakana-middle {
  max-height: 10vh;
  max-width: 30vw;
  -webkit-transform: translateY(-3vh);
          transform: translateY(-3vh);
}

.center-material .clock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-material .clock .number {
  line-height: 30%;
  font-size: \min(30vw, 40vh);
}

.center-material .clock .separator {
  width: 1vw;
  height: 1vw;
  background-color: #222;
  border-radius: 50%;
  display: inline-block;
  margin-left: \min(1vw, 1vh);
  margin-right: \min(1vw, 1vh);
}

.center-material .bar-middle {
  max-width: \min(40vw, 50vh);
}

.side-material-container {
  width: 100%;
  height: 100%;
  padding: 2.5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.side-material-container .left-material {
  width: 100%;
  height: 100%;
}

.side-material-container .left-material .top-material {
  width: 100%;
  height: 2.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.side-material-container .left-material .top-material .corner-decoration {
  width: auto;
  height: 100%;
  padding-right: 1ex;
}

.side-material-container .left-material .top-material .overhang {
  width: calc(100% - 2.6vw);
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.side-material-container .left-material .top-material .overhang .left {
  height: 100%;
  width: 10%;
  display: inline-block;
  vertical-align: top;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.side-material-container .left-material .top-material .overhang .left .text-left {
  width: auto;
  height: 50%;
  max-width: 80%;
  position: absolute;
  bottom: 70%;
  left: -2px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.side-material-container .left-material .top-material .overhang .left .line {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 55%;
  left: -1px;
}

.side-material-container .left-material .top-material .overhang .text-middle {
  height: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  display: inline-block;
  vertical-align: top;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.side-material-container .left-material .top-material .overhang .text-middle img {
  height: 150%;
  max-width: 100%;
  position: relative;
  top: 0;
}

.side-material-container .left-material .top-material .overhang .right {
  height: 100%;
  min-width: 20%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.side-material-container .left-material .top-material .overhang .right .line {
  width: 30%;
  height: 1px;
  position: absolute;
  bottom: 55%;
  left: -1px;
}

.side-material-container .left-material .top-material .overhang .right .balls {
  width: 40%;
  position: absolute;
  bottom: calc(55% + .5px);
  left: 28%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: \min(1em, 1vw);
}

.side-material-container .left-material .top-material .overhang .right .balls img {
  width: \min(2vw, 2vh);
}

.side-material-container .right-material-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.side-material-container .right-material-container .right-material {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.side-material-container .right-material-container .right-material .text {
  width: 5vw;
  height: auto;
  max-height: 80vh;
}

.side-material-container .right-material-container .right-material .line-right-container {
  position: relative;
  width: 1px;
  height: auto;
  min-height: 5px;
  -ms-flex-negative: 100;
      flex-shrink: 100;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  padding-top: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(-50%, 1px);
          transform: translate(-50%, 1px);
}

.side-material-container .right-material-container .right-material .line-right-container .line-right {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 2px;
}

.side-material-container .right-material-container .right-material .line-right-container .ball {
  position: fixed;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: \min(1vw, 1vh);
}

.side-material-container .right-material-container .right-material .corner-decoration {
  width: auto;
  height: 1.3vw;
}

.side-material-container .right-material-container .right-material .right-decoration {
  -webkit-transform: translateX(-1ex);
          transform: translateX(-1ex);
}
/*# sourceMappingURL=styles.css.map */