$black: #222
$pink-dark: #a56f78
$pink-med: #deb1b7
$pink-light: #867175
$white: #ffffff

@font-face
    font-family: 'vtfmono'
    src: url('../assets/VTFMono.ttf') format('truetype')
    src: url('../assets/VTFMono.woff') format('woff')

.vtf
    font-family: 'vtfmono'

.viewport
    width: 100vw
    height: 100vh
    background-color: $pink-med
    select: none

.bg-letters-container
    width: 100%
    height: 100%

    position: fixed
    top: 0
    left: 0

    overflow: hidden

    img
        width: 200%
        height: auto
        object-fit: cover

        position: fixed
        top: 55%
        left: 50%
        transform: translate(-50%,-50%)

.center-material
    width: 100%
    height: 100%

    position: fixed
    top: 0
    left: 0

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: \min(3vh, 3vw)

    .katakana-middle
        max-height: 10vh
        max-width: 30vw
        transform: translateY(-3vh)

    .clock
        display: inline-flex
        justify-content: center
        align-items: center

        .number
            line-height: 30%
            font-size: \min(42vw, 52vh)

        .separator
            width: 1vw
            height: 1vw
            background-color: $black
            border-radius: 50%
            display: inline-block

            margin-left: \min(1vw, 1vh)
            margin-right: \min(1vw, 1vh)

    .bar-middle
        max-width: \min(44vw, 54vh)

.side-material-container
    width: 100%
    height: 100%

    padding: 2.5vw // Margin does not go inside
    box-sizing: border-box

    position: fixed
    top: 0
    left: 0

    //max-width: calc(1.7777*100vh)

    .left-material
        width: 100%
        height: 100%

        .top-material
            width: 100%
            height: 2.6vw

            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: flex-start
            align-items: flex-start

            .corner-decoration
                width: auto
                height: 100%
                padding-right: 1ex

            .overhang
                width: 100%
                height: 100%

                display: inline-flex
                flex-direction: row
                flex-wrap: nowrap
                justify-content: space-between
                align-items: stretch

                .left
                    height: 100%
                    width: 10%

                    display: inline-block
                    vertical-align: top

                    flex-grow: 1

                    position: relative

                    .text-left
                        width: auto
                        height: 50%
                        
                        max-width: 80%
                        
                        position: absolute
                        bottom: 70%
                        left: -2px          

                        flex-shrink: 0
                    
                    .line
                        width: 100%
                        height: 1px
                        
                        position: absolute
                        bottom: 55%
                        left: -1px
                
                .text-middle
                    height: 100%

                    padding-left: 1vw
                    padding-right: 1vw

                    display: inline-block
                    vertical-align: top

                    flex-shrink: 0

                    img
                        height: 150%
                        max-width: 100%

                        position: relative
                        top: 0
                
                .right
                    width: auto
                    height: 100%

                    flex-grow: 2
                    flex-shrink: 100

                    display: inline-block
                    vertical-align: top

                    position: relative

                    .line
                        width: 30%
                        height: 1px
                        
                        position: absolute
                        bottom: 55%
                        left: -1px
                    
                    .balls
                        width: 40%

                        position: absolute
                        bottom: calc(55% + .5px) // Probably unnecessary
                        left: 28%

                        transform: translateY(50%)

                        display: flex
                        flex-direction: row
                        flex-wrap: nowrap
                        justify-content: flex-start
                        align-items: stretch
                        gap: \min(1em, 1vw)

                        img
                            width: \min(2vw, 2vh)

    .right-material-container
        // This item is needed to be able to use "relative absolute" positioning
        position: relative
        width: 100%
        height: 100%

        $line-and-corner-offset: -.8vw
        --ball-size: \min(1.1vh, 1.5ex)
        --corner-decoration-size: 1.3vw

        .right-material
            width: 100%
            height: 100%

            display: inline-flex
            flex-direction: column
            flex-wrap: nowrap
            justify-content: flex-start
            align-items: flex-end

            .right-text
                width: auto
                height: 70vh
                max-height: 80vh
                padding-bottom: 1em

            .line-right-container
                width: var(--ball-size)
                height: 100%
                min-height: 5vh

                flex-shrink: 100
                flex-grow: 100

                /* The way everything is aligned here is very weird, but using flex
                    does not work better, and also requires weird tuning hacks to get
                        the meets between the ball/line and line/decorator to work well.*/
                transform: translateX($line-and-corner-offset) translateY(1px)

                display: inline-flex
                flex-direction: column
                flex-wrap: nowrap
                justify-content: flex-end
                align-items: flex-end

                position: relative

                .line
                    width: 2px
                    height: 100%

                    flex-grow: 100
                    flex-shrink: 100

                .ball
                    width: 100%

                    transform: translate(50%, 50%) translateX(-2px)
    
        .corner-decoration-container
            width: 100%
            height: var(--corner-decoration-size)

            transform: translateX($line-and-corner-offset)

            flex-shrink: 0

            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: flex-end
            align-items: flex-end

            .text
                height: 105%
                float: right
                padding-right: 0.5vw
                transform: translateY(30%)

            .corner-decoration
                width: auto
                height: 100%
            
            .line
                width: 8%
                height: 2px
                transform: translateX(1px)
            
            .ball
                width: var(--ball-size)
                transform: translate(50%, 50%) translateY(-2px)

            .stack-container
                position: absolute
                bottom: 0
                right: 5vw

                .support
                    width: 12vw

                .stack
                    display: flex
                    flex-direction: column
                    flex-wrap: nowrap
                    justify-content: flex-end
                    align-items: center
                    gap: 2px

                    margin-bottom: 4px
                    transform: translateX(-20%)

                    .stack-box
                        width: 6vw

    .register-material-container
        --register-height: 20vh
        --padding: 3vw
        
        width: auto
        height: 100%

        box-sizing: border-box
        padding-top: var(--padding)
        padding-left: var(--padding)

        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: flex-start
        align-items: flex-start

        .lines
            width: 22vw
            min-height: 0
            max-height: calc(100vh - 2*var(--register-height) - var(--padding))

            flex-shrink: 100
            flex-grow: 100

            display: flex
            flex-direction: column
            flex-wrap: nowrap
            justify-content: flex-start
            align-items: flex-start

            .top
                width: 60%
                height: 1px

                transform: translateY(1px)

            .top-to-mid-and-mid
                width: 100%
                height: 100%
                
                flex-grow: 100
                flex-shrink: 100

                display: flex
                flex-direction: row
                flex-wrap: nowrap
                justify-content: flex-start
                align-items: flex-end

                .top-to-mid
                    width: auto
                    height: 100%
                    aspect-ratio: 60 / 277

                    flex-shrink: 1

                .mid
                    width: 100%
                    height: 1px
                    
                    flex-grow: 100

            .mid-to-bottom
                width: 100%
                height: 100%

                flex-shrink: 100
                flex-grow: 100

                padding-left: 6%

                transform: translateY(-1px)

        .register
            width: 10vw
            height: var(--register-height)

            flex-shrink: 0