$black: #222
$pink-dark: #a56f78
$pink-med: #deb1b7
$pink-light: #867175
$white: #ffffff

*
    box-sizing: border-box

@font-face
    font-family: 'vtfmono'
    src: url('../assets/VTFMono.ttf') format('truetype')
    src: url('../assets/VTFMono.woff') format('woff')

.vtf
    font-family: 'vtfmono'

.viewport
    width: 100vw
    height: 100vh
    background-color: $pink-med

.bg-letters-container
    width: 100%
    height: 100%

    position: fixed
    top: 0
    left: 0

    overflow: hidden

    img
        width: 200%
        height: 200%
        object-fit: cover

        position: fixed
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)

.center-material
    width: 100%
    height: 100%

    position: fixed
    top: 0
    left: 0

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: \min(3vh, 3vw)

    .katakana-middle
        max-height: 10vh
        max-width: 30vw
        transform: translateY(-3vh)

    .clock
        display: inline-flex
        justify-content: center
        align-items: center

        .number
            line-height: 30%
            font-size: \min(30vw, 40vh)

        .separator
            width: 1vw
            height: 1vw
            background-color: $black
            border-radius: 50%
            display: inline-block

            margin-left: \min(1vw, 1vh)
            margin-right: \min(1vw, 1vh)

    .bar-middle
        max-width: \min(40vw, 50vh)


.side-material-container
    width: 100%
    height: 100%

    padding: 2.5vw
    box-sizing: border-box

    max-width: calc(1.7777*100vh)

    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: stretch

    .left-material
        width: 100%
        height: 100%

        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: space-between
        align-items: flex-start

        .top-material
            width: 100%
            height: 2.6vw

            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: flex-start
            align-items: flex-start

            .corner-decoration
                width: auto
                height: 100%
                padding-right: 1ex

            .overhang
                width: calc(100% - 2.6vw)
                height: 100%

                display: inline-flex
                flex-direction: row
                flex-wrap: nowrap
                justify-content: space-between
                align-items: stretch

                .left
                    height: 100%
                    width: 10%

                    display: inline-block
                    vertical-align: top

                    flex-grow: 1

                    position: relative

                    .text-left
                        width: auto
                        height: 50%
                        
                        max-width: 80%
                        
                        position: absolute
                        bottom: 70%
                        left: -2px          

                        flex-shrink: 0
                    
                    .line
                        width: 100%
                        height: 1px
                        
                        position: absolute
                        bottom: 55%
                        left: -1px
                
                .text-middle
                    height: 100%

                    padding-left: 1vw
                    padding-right: 1vw

                    display: inline-block
                    vertical-align: top

                    flex-shrink: 0

                    img
                        height: 150%
                        max-width: 100%

                        position: relative
                        top: 0
                
                .right
                    height: 100%
                    min-width: 20%

                    flex-grow: 2

                    display: inline-block
                    vertical-align: top

                    position: relative

                    .line
                        width: 30%
                        height: 1px
                        
                        position: absolute
                        bottom: 55%
                        left: -1px
                    
                    .balls
